@font-face{
    font-family: 'Alatsi', sans-serif;
}

h1{
    font-family: "Aarvark Cafe";
    src: url("../assets/tipografia.ttf"); 
    font-size: 5em;
    }
*{
    border: 1px;
    padding: 1px;
    margin: 1px;
}

caption{
    font-family: 'Alata', sans-serif;
    color:rgb(28, 3, 251);
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.075);
}
body{
    background-image: url(../assets/fondo04.jpg);
    background-size:100% ;
    font-family: Arial;
}

main{
    position: relative;
    border: 5px solid rgb(46, 0, 250);
    width: 1000px;
    min-height: 300px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.897);
}


/*Header*/
header#hprincipal{
    font-family: "Aarvark Cafe" !important;
    position: relative;
    width: 100%;
    height: 200px;
    border-bottom: 0px solid rgb(46, 0, 250);
    background-image: url(.../assets/p1.jpg);
    background-size: 80%;
}

header#hprincipal .logo{
    position:absolute;
    width: 110px;
    height: 110px;
    top:50px;
    left: 50px;
    background-image: url(../assets/imagen1.png);
    background-size: 75%;
    background-repeat: no-repeat;
}

header#hprincipal h1{
    font-family: 'Alata', sans-serif;
    position: absolute;
    left: 150px;
    top: 60px;
    color: rgb(0, 89, 255);
    text-shadow: 0px 0px 20px rgba(123, 230, 203, 0.692) ;
}

/*nav / menu */
nav.menu{
    border-bottom: 5px solid rgb(4, 0, 250);
    position: relative;
    background-color: rgb(46, 0, 250);
}

nav.menu ul{
    position: relative;
    width: 100%;
}

nav.menu ul li{
    position: relative;
    display: inline-block;
    vertical-align: top;
    list-style: none;
}

nav.menu ul li a{
    display:block;
    position: relative;
    text-decoration: none;
    padding: 10px 20px;
    color: rgb(255, 253, 253);
}

/* Link */
nav.menu ul li a:hover,
nav.menu ul li a.activo{
    background-color: #0050fd;
}

/* footer */
footer#fprincipal{    
    position: relative;
    left: -2px;
    bottom: -2px;
    width: 100%;
    height: 100px;
    text-align: center; 
    border-top: 0px solid rgb(2, 2, 2);
    background-color: rgb(0, 0, 0);
    color: rgb(253, 253, 253);
    background-image: url(../assets/fondo05.jpg);
    background-repeat: no-repeat;
    background-size:100% ;
}
div[name="center2"]{
    position: absolute;
    right: 350px;
    top: 35px;
    color: whitesmoke;
    font-size: 15px;
}

footer#fprincipal small{
    position: relative;
    top: 500px;
}

/* table estructura general */
table, tr, td, th{
    border: 1px solid rgba(0, 0, 0, 0.164);
    border-collapse: cOllapse;
    padding: 10px;
}

table{
    position: relative;
    width: 95%;
    margin: 20px auto;
}

table thead{
    background-color: rgb(46, 0, 250);
    color: #fff;
}

/* filas colores alternos */
table tbody tr:nth-child(odd){
    *background-color: rgba(0,0,0.1);
}

table tbody tr:nth-chill(even){
    background-color: rgba(5, 4, 4, 0.3);
}
tr[name="colortd"]{
    background-color: rgba(0, 0, 0, 0.37);
    color:whitesmoke;
}
tr[name="colorts"]{
    background-color: rgba(0, 0, 0, 0.37);
    color:whitesmoke;
}

tr[name="colortsr"]{
    background-color: rgba(0, 0, 0, 0.37);
    color:whitesmoke;
}
#hprincipal:before,
        #hprincipal:after{
            content: '';
            position: absolute;
            top: -3px;
            left: -3px;
            background: linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000);
            background-size: 400%; 
            width: calc(100.3% + 4px);
            height: calc(100.3% + 4px);
            z-index: -1;
            animation: animate 220s linear infinite;
            }
            #hprincipal:after{
                filter: blur(20px);
            }
            @keyframes animate{
            0%{
                background-position: 0 0;
            }
            50%{
                background-position: 300% 0;
            }
            100%{
                background-position: 0 0;
            }
            }
            #fprincipal:before,
        #fprincipal:after{
            content: '';
            position: absolute;
            top: -3px;
            left: -3px;
            background: linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000);
            background-size: 400%; 
            width: calc(100.3% + 4px);
            height: calc(100.3% + 4px);
            z-index: -1;
            animation: animate 220s linear infinite;
            }
            #fprincipal:after{
                filter: blur(20px);
            }
            @keyframes animate{
            0%{
                background-position: 0 0;
            }
            50%{
                background-position: 300% 0;
            }
            100%{
                background-position: 0 0;
            }
            }
            #contenedor_principal:before,
        #contenedor_principal:after{
            content: '';
            position: absolute;
            top: -3px;
            left: -3px;
            background: linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000);
            background-size: 400%; 
            width: calc(100.3% + 4px);
            height: calc(100.3% + 4px);
            z-index: -1;
            animation: animate 220s linear infinite;
            }
            #contenedor_principal:after{
                filter: blur(20px);
            }
            @keyframes animate{
            0%{
                background-position: 0 0;
            }
            50%{
                background-position: 300% 0;
            }
            100%{
                background-position: 0 0;
            }
            }